*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #854d25;
}
:root{
    --corPrimaria:rgb(38, 47, 77);
    --corSecundaria:rgb(57, 134, 197);
    --branco:#ff0000;
}

#cabecalho{
    width: 100%;
    height: 200px;
    background-color:rgb(250, 215, 173);
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: flex-end;
    text-decoration-color:red;
}


#link{
    width: 700px;
}
#button{
    width: 300px;
    height: 300px;
    border-radius: 6px ;
    
}
#banner{
    width: 700px;
    height: 100%;
    background-color: rgb(101, 148, 248); 
    color:rgb(255, 255, 255);
    
}

.CatalogoDeBolo{
    display: flex;
    gap: 50px;
    
}

.bolo img{
    width: 100%;
    background-color: #ffffff;
}

.bolo{
    width: 250px ;
    padding: 7px;
    border-radius: 6px ;
    background-color: #8b4513;
    box-shadow: 5px 5px 5px 5px #ce9a57;
    

    
}
#conteudo{
    width: 100%;
    display: flex;
    flex-direction:row wrap;
    align-items:center;
    gap: 50px;
    justify-content: center;
}
