*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(../images/fundo2.jpg);
}
:root{
    --corPrimaria:rgb(38, 47, 77);
    --corSecundaria:rgb(57, 134, 197);
    --branco:#ff0000;
}

#cabecalho{
    width: 100%;
    height: 200px;
    background-color: #395a6b;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#button{
    width: 300px;
    height: 300px;
}
#banner{
    width: 700px;
    height: 100%;
    background-color: rgb(101, 148, 248); 
    color:rgb(255, 255, 255);
    
}

.CatalogoDeBolo{
    display: flex;
    gap: 50px;
    
}

.bolo img{
    width: 100%;
    background-color: #395a6b;
}

.bolo{
    width: 200px ;
    padding: 8px;
    border-radius: 5px ;
    background-color: #395a6b ;
    box-shadow: 10px 10px 10px 10px rgb(102, 98, 98) ;
}
#conteudo{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items:center;
    gap: 50px;
}
